.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.taskleiste {
  background-color: #14c4f5;
  color: black;
  padding: 5px;
  height: 50px;
}

h1{
  margin: 0;
}

.quiz-container{
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;
  margin-top: 200px;
  position: relative;
}

.quiz-block{
  margin: 20px;
  padding: 10px;
  border: 1px solid #000000;
  width: 200px;
  height: 300px;
  cursor: pointer;
  position: relative;
}

.quiz-block img{
  max-width: 100%;
  height: 150px;
}

.quiz-block.disabled {
  opacity: 0.5; 
  cursor: not-allowed; 
}

.quiz-block.disabled:hover::after {
  content: "Momentan nicht verfügbar"; 
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}